* {
    margin: 0;
    color: black;
}

.main-header {
    text-align: center;
    margin-top: .25em;
    margin-bottom: .25em;
    font-size: 3em;
}

.site-header{
    margin-left: 1em;
    margin-top: .25em;
    margin-bottom: .25em;
}

.nav_bar {
    width: 50%;
    margin:auto;
    height: 3em;
    background-color: rgba(250, 135, 135, 0.274);
    text-align: center;
}

.nav_bar li {
    list-style-type: none;
    display: inline-block;
    margin-right: 1.5em;
    margin-top: 1em;
}

.nav_bar a {
    text-decoration: none;
}

p {
    margin-top: .75em;
    margin-left: 2em;
    margin-right: 2em;
}

h2 {
    margin-top: .5em;
    margin-left: 1.3em;
}

h3 {
    margin-top: .5em;
    margin-left: 1.75em;
}

.proreq {
    margin-top: .25em;
    margin-left: 2em;
    margin-right: 2em;
}


